



 .timer
 {
    background-color: rgb(222, 196, 224);
    margin: 50px 300px 0px;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 0 10px;
    max-width: 700px;
    justify-content: space-evenly;
    font-size: 90px;
    text-align: center;
    margin-top:10px;
 }

.text  
 {
     font-size: 50px;
     margin-top: 10px;
     margin-left: 550px;
 }

 .buttonsTimer
{
    
   
    margin-left: 450px;
    max-width: 300px;
    margin-top:5px;
}

.buttonsTimer Button 
{
    width:60px;
    background-color:  rgb(120, 162, 216);
    cursor:pointer;
    border: none;
    padding:10px;
    text-align: center;
    margin-left: 40px;
    margin-top: 15px;
    font-size: medium;
    
}