



 .timer
 {
    background-color: rgb(222, 196, 224);
    margin: 50px 300px 0px;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 0 10px;
    max-width: 700px;
    justify-content: space-evenly;

    
 }
.timer .clock
{
    font-size: 90px;
    text-align: center;
    margin-top:10px;
}

.timer .messageTimer
{
    font-size: 25px;
    text-align: center;

}



 .buttonsTimer
{
    
  
    margin-left: 470px;
    max-width: 300px;
    margin-top:5px;
}

.buttonsTimer Button 
{
    border-radius: 100px;
    width:70px;
    background-color:  rgb(120, 162, 216);
    cursor:pointer;
    border: none;
    padding:10px;
    text-align: center;
    margin-left: 30px;
    margin-top: 15px;
    box-shadow: 0 0 2px;
    font-size: medium;
    
}