.tasks{

  margin-top:30px;


}
.tasks li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

}

.tasks li .edit{
  margin-right: 10px;
  color: rgb(120, 162, 216);
  cursor: pointer;

}

.tasks li .delete{
  cursor: pointer;
}
