.Main{
  background: rgb(244, 244, 247);
  padding: 35px;
  margin-top: 20px;
  margin-left: 285px;
  margin-bottom: 10px;

  max-width: 700px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: 4px solid rgb(178, 144, 185);
  
}

.Main h1{
  font-size: 30px;
  text-align: center ;
  font-family: Big Caslon;
  color: rgb(174, 110, 187);


}

